* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.main-div {
    width: 100%;
    padding: 0 100px;
}
.main-div .main-h1{
    font-size: 35px;
    padding: 40px 0px;
    text-align: center;
}
.main-div form .name-email{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-div form .password-phone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-div form{
    background-color: rgb(255, 90, 30);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 580px;
    margin: 0 auto;
}
.main-div .person {
  display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    width: 100%;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
   border-radius: 5px;
    border: none;
}
.main-div form .brows-img{
    background-color: white;
    width: 95%;
    border-radius: 5px;
    margin: 10px auto;
}
.main-div form .brows-img input{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 100%;
    padding: 0px;
}
.main-div .gender {
    padding: 10px;
}
.main-div .gender h5{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.main-div .radio-button-main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.main-div .radio-button-main-div label{
    font-weight: 600;
}
.main-div .radio-button-main-div .person input{
    accent-color: rgb(252, 51, 51);
    scale: 1.5;
}
.main-div form .submit{
    margin: 10px auto;
    display: block;
    width: 100%;
    color: white;
    background-color: #FBFBFB;
    color: black;
    cursor: pointer;
}
.main-div .table-main-div{
padding: 80px 0;
width: 100%;
}
table{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}
table tr:nth-of-type(even){
    background-color: rgba(231, 231, 231, 0.384); 
}
table thead{
    background-color: rgba(255, 68, 0, 0.87);
    color: white;
}
table tr td img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
table thead th{
   font-size: 17px;
   padding: 20px;
}
table tbody td{
   font-size: 17px;
   padding: 20px;
   color: black;
}
table tbody td:nth-of-type(odd){
  background-color: rgba(231, 231, 231, 0.384);
}
table .ri-edit-2-fill{
    color: teal;
    font-size: 25px;
    cursor: pointer;
}
table .ri-delete-bin-6-fill{
    color: rgb(233, 3, 3);
    font-size: 25px;
    cursor: pointer;
}